<h1>Welcome to Pawsitter</h1>



<% if @users.nil? || @users.empty? %>
  <p>No users available.</p>
<% else %>
<h2>List of Users</h2>
<ul>
  <% @users.each do |user| %>
    <%= link_to user.first_name, profile_path(user) %>  <!--  profil de l'utilisateur -->
  <% end %>
</ul>
<% end %>


<%# Geocoder "Mapbox" %>
<div class="map" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
