.btn {
    border-radius: 15px;
}

// Reservation show buttons
.btn-view-primary {
    background-color: rgb(107, 218, 255);
    color: white;
  }
  
  .btn-cancel-reservation {
    background-color: #ff4747; /* Your custom color */
    color: black;
  }