.chat {

    .message {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
    }
  
    .message-info {
      opacity: 0.5;
      text-align: center;
      width: fit-content;
    }
  
    .message-content {
      border-radius: 1rem;
      margin-bottom: 1rem;
      padding: 0.5rem;
      max-width: 70%;
      width: fit-content;
      word-wrap: break-word;
    }

    /* For received messages */
    .message.received {
      align-items: flex-start;
      text-align: left;
    }

    /* For sent messages */
    .message.sent {
      align-items: flex-end;
      text-align: right;
    }
  
    .message.sent .message-content {
      align-self: flex-end;
      background: $blue;
      color: $light-gray;
    }
  
    .message.received .message-content {
      align-self: flex-start;
      background: $gray-200;
    }
}

.container.border {
  border-radius: 15px;
}

#messages {
  border-radius: 15px;
  overflow: hidden; /* To prevent any content from spilling over */
}

/* Apply border-radius to the form input */
.simple_form input, .simple_form textarea {
  border-radius: 15px;
}