
h2, h5 {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
    color: rgb(107, 218, 255)
}

.search-container {
  background-color: #ffffff;
  border-radius: 50%;
}

#search_bar_border {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

form {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
}


input.form-control {
  border-radius: 20px;
}

button.btn-primary {
  background-color: rgb(107, 218, 255);
  border: none;
}


body {
  background-color: white;
}

// Petsitter cards
.card {
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .card:hover {
    background-color: inherit;
    color: black;
  }