// Map
.map {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15); /* Fixed color syntax */
    border-radius: 15px; /* Adjust the value to your preference */
    overflow: hidden; /* Ensures content doesn't spill over rounded edges */
  }