.navbar-pawsitter {
  justify-content: space-between;
  background: white;
}

.navbar-pawsitter .navbar-collapse {
  flex-grow: 0;
}

.navbar-pawsitter .navbar-brand img {
  width: 40px;
}

.avatar {
  color: black;
}

.avatar :hover {
  color: rgb(158, 158, 158);
}

// .map {
//   box-shadow: 0 .5rem 1rem rgba(black, .15);;
// }