h2 {
    color: rgb(107, 218, 255)
}

.card-body {
    border: 0.5px black;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    overflow: hidden;
}