// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  height: 100%;
  overflow: auto;
  margin: 0;
}

.container {
  height: auto;
  overflow: visible;
}

.d-flex.justify-content-end {
  position: relative;
  margin-top: auto; /* Push the button to the bottom */
}

.custom-title {
  font-size: 5rem;  /* You can adjust this value */
  font-weight: bold; /* Optional for making it bold */
  color: #a3c4f3;        /* Pale blue color */
  font-family: 'Impact'
}

/* Navbar styling */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  font-size: 18px;
  display: flex;
  align-items: center;
}

nav ul li i {
  margin-right: 8px; /* Add space between icon and text */
}

nav ul li:hover {
  background-color: rgb(107, 218, 255); /* Hover effect */
}

.search-bar-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-container input:focus {
  border-color: #007bff;
}

.button-container {
  display: flex;
  justify-content: center;
}

.search-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.form-control {
  background-color: white;
}